.App {
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 90dvh;
  background-image: url('./media/retrosupply.jpg');
  background-size: cover;
  padding: 0 0 10dvh 0;
}

.blog-header{
  display: flex;
  justify-content: space-between;
   padding: 1em 3em;
  color: #72A292;
}

.logo{
  font-size: 2rem;
  font-weight: 500;
}

button {
  width: 10rem;
  margin-inline: 0.5rem;
  padding: 1em 0.2em;
  background-color: #72A292;
  border: 2px solid #A8845E;
  border-radius: 20px 20px 10px 10px ;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
margin-block: 2rem;

}

form label {
  display: flex;
  flex-direction: column;
   width: 90vw;
}

#article-text{
  height: 10rem;
}

#create {
  align-self: flex-end;
  margin-block-start: 1rem;
}
